
output/*

*.o

defconfig
.config
.config.old
exclude.txt
log.txt

.cache
.clangd
compile_commands.json

.mpp_built
.mpp_samples
.parse_config

.repo

include/config
include/generated

rtsmart_defconfig
uboot_defconfig
