mainmenu "K230 SDK Project Configuration"

config BOARD_CONFIG_NAME
    string "Target configure file name"

source "$(SDK_BOARDS_DIR)/Kconfig"

source "$(SDK_UBOOT_SRC_DIR)/Kconfig"
source "$(SDK_RTSMART_SRC_DIR)/Kconfig"
source "$(SDK_RTSMART_SRC_DIR)/libs/Kconfig"
source "$(SDK_RTSMART_SRC_DIR)/mpp/Kconfig"
source "$(SDK_OPENSBI_SRC_DIR)/Kconfig"

source "$(SDK_BUILD_DIR)/Kconfig.canmv"

source "$(SDK_APPS_SRC_DIR)/Kconfig"
