menu "Uboot Configuration"

    config UBOOT_ENV_FILE
        string "Uboot enviroment file"
        default "default.env"

    menuconfig UBOOT_USE_CUSTOM_CONFIG_FILE
        bool "Uboot use custom config file"
        default n

        if UBOOT_USE_CUSTOM_CONFIG_FILE
            config UBOOT_CUSTOM_CONFIG_FILE
                string "Uboot custom config file"
        endif

endmenu
