menu "Uboot Configuration"

    config UBOOT_ENV_FILE
        string "Uboot enviroment file"
        default "default.env"

    config UBOOT_CONFIG_FILE
        string "Uboot config file prefix"
        default BOARD
        help
            uboot board config file name without _defconfig

endmenu
