menuconfig RTT_ENABLE_BUILD_EXAMPLES
    bool "Enable build Rtsmart examples"
    default n

    if RTT_ENABLE_BUILD_EXAMPLES

        menuconfig RTT_ENABLE_BUILD_AI_EXAMPLES
            bool "Enable build ai examples"
            default n
        
        choice RTT_AI_EXAMPLES_MODE
            bool "Display mode"
            default RTT_AI_EXAMPLES_MODE_HDMI
            depends on RTT_ENABLE_BUILD_AI_EXAMPLES && BOARD_K230_CANMV_01STUDIO

            config RTT_AI_EXAMPLES_MODE_HDMI
                bool "HDMI"
            config RTT_AI_EXAMPLES_MODE_LCD
                bool "LCD"
        endchoice

        if RTT_ENABLE_BUILD_AI_EXAMPLES

            config RTT_AI_EXAMPLES_ANOMALY_DET
                bool "Anomaly det Example"
                default y

            config RTT_AI_EXAMPLES_BYTETRACK
                bool "Bytetrack Example"
                default y

            config RTT_AI_EXAMPLES_CROSSWALK_DETECT
                bool "Crosswalk detect Example"
                default y

            config RTT_AI_EXAMPLES_DEC_AI_ENC
                bool "Dec ai enc Example"
                default y

            config RTT_AI_EXAMPLES_DEMO_MIX
                bool "Demo mix Example"
                default y

            config RTT_AI_EXAMPLES_DISTRACTION_REMINDER
                bool "Distraction reminder Example"
                default y

            config RTT_AI_EXAMPLES_DMS_SYSTEM
                bool "Dms system Example"
                default y

            config RTT_AI_EXAMPLES_DYNAMIC_GESTURE
                bool "Dynamic gesture Example"
                default y

            config RTT_AI_EXAMPLES_EYE_GAZE
                bool "Eye gaze Example"
                default y

            config RTT_AI_EXAMPLES_FACE_ALIGNMENT
                bool "Face alignment Example"
                default y

            config RTT_AI_EXAMPLES_FACE_DETECTION
                bool "Face detection Example"
                default y

            config RTT_AI_EXAMPLES_FACE_EMOTION
                bool "Face emotion Example"
                default y

            config RTT_AI_EXAMPLES_FACE_GENDER
                bool "Face gender Example"
                default y

            config RTT_AI_EXAMPLES_FACE_GLASSES
                bool "Face glasses Example"
                default y

            config RTT_AI_EXAMPLES_FACE_LANDMARK
                bool "Face landmark Example"
                default y

            config RTT_AI_EXAMPLES_FACE_MASK
                bool "Face mask Example"
                default y

            config RTT_AI_EXAMPLES_FACE_MESH
                bool "Face mesh Example"
                default y

            config RTT_AI_EXAMPLES_FACE_PARSE
                bool "Face parse Example"
                default y

            config RTT_AI_EXAMPLES_FACE_POSE
                bool "Face pose Example"
                default y

            config RTT_AI_EXAMPLES_FACE_VERIFICATION
                bool "Face verification Example"
                default y

            config RTT_AI_EXAMPLES_FALLDOWN_DETECT
                bool "Falldown detect Example"
                default y

            config RTT_AI_EXAMPLES_FINGER_GUESSING
                bool "Finger guessing Example"
                default y

            config RTT_AI_EXAMPLES_FITNESS
                bool "Fitness Example"
                default y

            config RTT_AI_EXAMPLES_HEAD_DETECTION
                bool "Head detection Example"
                default y

            config RTT_AI_EXAMPLES_HELMET_DETECT
                bool "Helmet detect Example"
                default y

            config RTT_AI_EXAMPLES_KWS
                bool "Kws Example"
                default y

            config RTT_AI_EXAMPLES_LICENCE_DET
                bool "Licence det Example"
                default y

            config RTT_AI_EXAMPLES_LICENCE_DET_REC
                bool "Licence det rec Example"
                default y

            config RTT_AI_EXAMPLES_NANOTRACKER
                bool "Nanotracker Example"
                default y

            config RTT_AI_EXAMPLES_OBJECT_DETECT_YOLOV8N
                bool "Object detect yolov8n Example"
                default y

            config RTT_AI_EXAMPLES_OCR
                bool "Ocr Example"
                default y

            config RTT_AI_EXAMPLES_PERSON_ATTR
                bool "Person attr Example"
                default y

            config RTT_AI_EXAMPLES_PERSON_DETECT
                bool "Person detect Example"
                default y

            config RTT_AI_EXAMPLES_PERSON_DISTANCE
                bool "Person distance Example"
                default y

            config RTT_AI_EXAMPLES_POSE_DETECT
                bool "Pose detect Example"
                default y

            config RTT_AI_EXAMPLES_PPHUMANSEG
                bool "Pphumanseg Example"
                default y

            config RTT_AI_EXAMPLES_PUZZLE_GAME
                bool "Puzzle game Example"
                default y

            config RTT_AI_EXAMPLES_SEGMENT_YOLOV8N
                bool "Segment yolov8n Example"
                default y

            config RTT_AI_EXAMPLES_SELF_LEARNING
                bool "Self learning Example"
                default y

            config RTT_AI_EXAMPLES_SMOKE_DETECT
                bool "Smoke detect Example"
                default y

            config RTT_AI_EXAMPLES_SPACE_RESIZE
                bool "Space resize Example"
                default y

            config RTT_AI_EXAMPLES_SQ_HAND_DET
                bool "Sq hand det Example"
                default y

            config RTT_AI_EXAMPLES_SQ_HANDKP_CLASS
                bool "Sq handkp class Example"
                default y

            config RTT_AI_EXAMPLES_SQ_HANDKP_DET
                bool "Sq handkp det Example"
                default y

            config RTT_AI_EXAMPLES_SQ_HANDKP_FLOWER
                bool "Sq handkp flower Example"
                default y

            config RTT_AI_EXAMPLES_SQ_HANDKP_OCR
                bool "Sq handkp ocr Example"
                default y

            config RTT_AI_EXAMPLES_SQ_HANDRECO
                bool "Sq handreco Example"
                default y

            config RTT_AI_EXAMPLES_TRAFFIC_LIGHT_DETECT
                bool "Traffic light detect Example"
                default y

            config RTT_AI_EXAMPLES_TRANSLATE_EN_CH
                bool "Translate en ch Example"
                default y

            config RTT_AI_EXAMPLES_TTS_ZH
                bool "Tts zh Example"
                default y

            config RTT_AI_EXAMPLES_VEHICLE_ATTR
                bool "Vehicle attr Example"
                default y

            config RTT_AI_EXAMPLES_VIRTUAL_KEYBOARD
                bool "Virtual keyboard Example"
                default y

            config RTT_AI_EXAMPLES_YOLOP_LANE_SEG
                bool "Yolop lane seg Example"
                default y

        endif

        menuconfig RTT_ENABLE_BUILD_KPU_RUN_EXAMPLES
            bool "Enable build kpu run yolov8 examples"
            default n

            if RTT_ENABLE_BUILD_KPU_RUN_EXAMPLES

                config RTT_KPU_RUN_YOLOV8_CAMERA
                    bool "Kpu run yolov8 camera"
                    default y

                config RTT_KPU_RUN_YOLOV8_IMAGE
                    bool "Kpu run yolov8 image"
                    default y

            endif

        menuconfig RTT_ENABLE_BUILD_AI2D_EXAMPLES
            bool "Enable build ai2d examples"
            default n

            if RTT_ENABLE_BUILD_AI2D_EXAMPLES

                config RTT_AI2D_CROP
                    bool "ai2d crop example"
                    default y

                config RTT_AI2D_PAD
                    bool "ai2d pad example"
                    default y

                config RTT_AI2D_RESIZE
                    bool "ai2d resize example"
                    default y

                config RTT_AI2D_AFFINE
                    bool "ai2d affine example"
                    default y

                config RTT_AI2D_SHIFT
                    bool "ai2d shift example"
                    default y

            endif

    endif
    