menu "RT-Smart Configuration"

    config RTT_CONSOLE_ID
        int "Rtsmart console uart id"
        default 0
        help
            K230 have uart 0...4

    config RTT_CONSOLE_BAUD
        int "Rtsmart console uart baudrate"
        default 115200

    menu "MPP Configuration"
        menu "Sensor Configuration"
            menuconfig MPP_ENABLE_CSI_DEV_0
                bool "Enable CSI0"

                if MPP_ENABLE_CSI_DEV_0
                    config MPP_CSI_DEV0_POWER
                        int "CSI0 PowerDown GPIO"
                        default -1
                        help
                            If board have no Powerdown, set to -1

                    config MPP_CSI_DEV0_RESET
                        int "CSI0 Reset GPIO"
                        default -1
                        help
                            If board have no Reset, set to -1

                    config MPP_CSI_DEV0_I2C_DEV
                        string "CSI0 I2c Bus"
                        default "i2c0"
                endif

            menuconfig MPP_ENABLE_CSI_DEV_1
                bool "Enable CSI1"

                if MPP_ENABLE_CSI_DEV_1
                    config MPP_CSI_DEV1_POWER
                        int "CSI1 PowerDown GPIO"
                        default -1
                        help
                            If board have no Powerdown, set to -1

                    config MPP_CSI_DEV1_RESET
                        int "CSI1 Reset GPIO"
                        default -1
                        help
                            If board have no Reset, set to -1

                    config MPP_CSI_DEV1_I2C_DEV
                        string "CSI1 I2c Bus"
                        default "i2c1"
                endif

            menuconfig MPP_ENABLE_CSI_DEV_2
                bool "Enable CSI2"

                if MPP_ENABLE_CSI_DEV_2
                    config MPP_CSI_DEV2_POWER
                        int "CSI2 PowerDown GPIO"
                        default -1
                        help
                            If board have no Powerdown, set to -1

                    config MPP_CSI_DEV2_RESET
                        int "CSI2 Reset GPIO"
                        default -1
                        help
                            If board have no Reset, set to -1

                    config MPP_CSI_DEV2_I2C_DEV
                        string "CSI2 I2c Bus"
                        default "i2c2"
                endif

            menuconfig MPP_ENABLE_SENSOR_GC2093
                bool "Enable GC2093"

                if MPP_ENABLE_SENSOR_GC2093
                    config MPP_SENSOR_GC2093_ON_CSI0_USE_CHIP_CLK
                        bool "GC2093 On CSI0 Use CHIP MCLK"
                        default n
                        depends on MPP_ENABLE_CSI_DEV_0
                    config MPP_SENSOR_GC2093_ON_CSI1_USE_CHIP_CLK
                        bool "GC2093 On CSI1 Use CHIP MCLK"
                        default n
                        depends on MPP_ENABLE_CSI_DEV_1
                    config MPP_SENSOR_GC2093_ON_CSI2_USE_CHIP_CLK
                        bool "GC2093 On CSI2 Use CHIP MCLK"
                        default n
                        depends on MPP_ENABLE_CSI_DEV_2
                endif

        endmenu

        menu "Dsiplay Configuration"
            menuconfig MPP_ENABLE_DSI_LT9611
                bool "Enable HDMI Display Converter LT9611"

                if MPP_ENABLE_DSI_LT9611

                    config MPP_DSI_LT9611_RESET
                        int "LT9611 Reset GPIO"
                        default -1

                    config MPP_DSI_LT9611_I2C_DEV
                        string "DSI I2c Bus"
                        default "i2c3"

                    config MPP_DSI_LT9611_I2C_SLV_ADDR
                        hex "LT9611 Slave Address"
                        default 0x3b
                endif

            menuconfig MPP_ENABLE_DSI_ST7701
                bool "Enable LCD Display Driver ST7701"

                if MPP_ENABLE_DSI_ST7701
                    config MPP_DSI_ST7701_RESET
                        int "ST7701 Reset GPIO"
                        default -1
                    config MPP_DSI_ST7701_BACKLIGHT
                        int "ST7701 BackLight GPIO"
                        default -1
                endif
        endmenu

    endmenu

endmenu
