CONFIG_BOARD_K230_AIHARDWARE=y
CONFIG_BOARD_CONFIG_NAME="k230_rtos_aihardware_defconfig"
# CONFIG_RT_AUTO_RESIZE_PARTITION is not set
CONFIG_MPP_ENABLE_CSI_DEV_0=y
CONFIG_MPP_CSI_DEV0_RESET=23
CONFIG_MPP_CSI_DEV0_I2C_DEV="i2c0"
CONFIG_MPP_ENABLE_CSI_DEV_1=y
CONFIG_MPP_CSI_DEV1_RESET=0
CONFIG_MPP_CSI_DEV1_I2C_DEV="i2c3"
CONFIG_MPP_ENABLE_CSI_DEV_2=y
CONFIG_MPP_CSI_DEV2_RESET=24
CONFIG_MPP_CSI_DEV2_I2C_DEV="i2c1"
CONFIG_MPP_ENABLE_SENSOR_XS9950=y
CONFIG_MPP_ENABLE_DSI_HDMI=y
CONFIG_MPP_DSI_HDMI_RESET_PIN=42
CONFIG_MPP_DSI_HDMI_I2C_DEV="i2c4"
CONFIG_MPP_DSI_ENABLE_HDMI_LT9611=y
