CONFIG_BOARD_K230D_CANMV_LABPLUS_AI_CAMERA=y
CONFIG_MPP_ENABLE_CSI_DEV_2=y
CONFIG_MPP_CSI_DEV2_RESET=62
CONFIG_MPP_CSI_DEV2_I2C_DEV="i2c0"
CONFIG_MPP_CSI_DEV2_MCLK_1=y
CONFIG_MPP_ENABLE_SENSOR_GC2093=y
CONFIG_MPP_SENSOR_GC2093_ON_CSI2_USE_CHIP_CLK=y
CONFIG_MPP_ENABLE_SENSOR_OV5647=y
CONFIG_MPP_SENSOR_OV5647_ON_CSI2_USE_CHIP_CLK=y
CONFIG_MPP_ENABLE_SENSOR_BF3238=y
CONFIG_MPP_ENABLE_SENSOR_BF3238_ON_CSI2_USE_CHIP_CLK=y
CONFIG_MPP_ENABLE_DSI_LCD=y
CONFIG_MPP_DSI_LCD_RESET_PIN=37
CONFIG_MPP_DSI_LCD_BACKLIGHT_PIN=36
CONFIG_MPP_DSI_ENABLE_LCD_ST7701=y
CONFIG_SDK_ENABLE_CANMV=y
# CONFIG_ENABLE_NETWORK_RT_LAN is not set
# CONFIG_ENABLE_NETWORK_RT_WLAN is not set
# CONFIG_ENABLE_TOUCH_DRIVER_CST_MUTCAP is not set
# CONFIG_ENABLE_TOUCH_DRIVER_GT911 is not set
CONFIG_MPP_DEFAULT_SENSOR_CSI_2=y
