CONFIG_BOARD_K230_EVB=y
CONFIG_AUTO_DETECT_DDR_SIZE=y
# CONFIG_AUTO_DDR_SIZE_1024 is not set
# CONFIG_AUTO_DDR_SIZE_2048 is not set
CONFIG_RTT_AUTO_EXEC_CMD=""
# CONFIG_MPP_DSI_ENABLE_VIRT is not set
