CONFIG_BOARD_K230_CANMV_DONGSHANPI=y
CONFIG_BOARD_CONFIG_NAME="k230_canmv_dongshanpi_defconfig"
CONFIG_BOARD_NAME="CanMV-K230_DONGSHANPI"
CONFIG_UBOOT_USE_CUSTOM_CONFIG_FILE=y
CONFIG_UBOOT_CUSTOM_CONFIG_FILE="k230_canmv_dongshanpi_defconfig"
CONFIG_MPP_ENABLE_CSI_DEV_0=y
CONFIG_MPP_CSI_DEV0_POWER=9
CONFIG_MPP_CSI_DEV0_RESET=10
CONFIG_MPP_ENABLE_CSI_DEV_1=y
CONFIG_MPP_CSI_DEV1_POWER=11
CONFIG_MPP_CSI_DEV1_RESET=12
CONFIG_MPP_ENABLE_CSI_DEV_2=y
CONFIG_MPP_CSI_DEV2_RESET=21
CONFIG_MPP_CSI_DEV2_I2C_DEV="i2c4"
CONFIG_MPP_CSI_DEV2_MCLK_1=y
CONFIG_MPP_ENABLE_SENSOR_GC2093=y
CONFIG_MPP_SENSOR_GC2093_ON_CSI2_USE_CHIP_CLK=y
CONFIG_MPP_ENABLE_SENSOR_OV5647=y
CONFIG_MPP_SENSOR_OV5647_ON_CSI2_USE_CHIP_CLK=y
CONFIG_MPP_ENABLE_DSI_LCD=y
CONFIG_MPP_DSI_LCD_RESET_PIN=22
CONFIG_MPP_DSI_ENABLE_LCD_ST7701=y
CONFIG_MPP_DSI_ENABLE_LCD_ILI9806=y
CONFIG_SDK_ENABLE_CANMV=y
CONFIG_MPP_DEFAULT_SENSOR_CSI_2=y
CONFIG_CANMV_OPENMV_CFG_FB_ALLOC_SIZE=0x1400000
CONFIG_CANMV_OPENMV_CFG_FB_ALLOC_COUNT=640
