CONFIG_BOARD_K230_AIHARDWARE=y
CONFIG_MEM_TOTAL_SIZE=0x8000000
CONFIG_MEM_RTSMART_SIZE=0x4000000
CONFIG_MEM_RTSMART_HEAP_SIZE=0x400000
CONFIG_MEM_MMZ_BASE=0x4000000
CONFIG_MEM_MMZ_SIZE=0x4000000
# CONFIG_RT_AUTO_RESIZE_PARTITION is not set
CONFIG_MPP_ENABLE_CSI_DEV_0=y
CONFIG_MPP_ENABLE_CSI_DEV_1=y
CONFIG_MPP_ENABLE_CSI_DEV_2=y
