CONFIG_BOARD_K230_CANMV_01STUDIO=y
CONFIG_MEM_TOTAL_SIZE=0x20000000
CONFIG_MEM_RTSMART_SIZE=0x10000000
CONFIG_MEM_RTSMART_HEAP_SIZE=0x2000000
CONFIG_MEM_MMZ_BASE=0x10000000
CONFIG_MEM_MMZ_SIZE=0x10000000
CONFIG_RTT_CONFIG_FILE="k230_canmv_01studio.config"
